.navbar .brand {
  padding-left: 0;
}

.page-content {
  padding-top: 20px;
}

.topic-list-wrapper .list-tools {
  padding-bottom: 15px;
}

.topic {
  .posts {
    margin-bottom: 20px;
    .post {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #CCC;
      .avatar {
        text-align: center;
      }
      .post-header {
        padding-bottom: 10px;
        .time {
          a { 
            color: #AAAAAA; 
            text-decoration: none;
            font-size: 0.9em;
            &:hover { text-decoration: underline; }
          }
          float: right;
        }
      }
    }
  }
}
