.topic-list-wrapper .list-tools {
  padding-bottom: 15px;
}

.topic {
  .posts {
    margin-bottom: 20px;
    .post {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #CCC;
      .avatar {
        text-align: center;
      }
    }
  }
}
