html, body {
  height: 100%; }

body {
  padding-top: 60px;
  position: relative; }

textarea:focus, input[type="text"]:focus {
  border-color: #4D90FE; }

.navbar-search .search-query {
  padding: 0 12px;
  font-weight: 500;
  font-size: 1.2em; }

.navbar-search {
  margin-top: 7px; }

.page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
  /*.page-content {*/
  /*padding-top: 60px;*/
  /*}*/ }

.anchorfix {
  padding-top: 60px;
  margin-top: -60px; }

.topic .posts {
  margin-bottom: 20px; }
  .topic .posts .post {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC; }
    .topic .posts .post .avatar {
      text-align: center; }
    .topic .posts .post .post-header {
      padding-bottom: 10px; }
      .topic .posts .post .post-header .time {
        float: right; }
        .topic .posts .post .post-header .time a {
          color: #AAAAAA;
          text-decoration: none;
          font-size: 0.9em; }
          .topic .posts .post .post-header .time a:hover {
            text-decoration: underline; }

section {
  margin-top: 30px;
  padding-top: 30px;
  padding: 19px;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.action-links {
  margin: 20px 0; }

.page-wrap-push {
  height: 200px; }

footer {
  height: 100px;
  padding: 20px 0;
  margin-top: 60px;
  background: #F5F5F5; }
