.navbar .brand {
  padding-left: 0; }

.page-content {
  padding-top: 20px; }

.topic-list-wrapper .list-tools {
  padding-bottom: 15px; }

.topic .posts {
  margin-bottom: 20px; }
  .topic .posts .post {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC; }
    .topic .posts .post .avatar {
      text-align: center; }
    .topic .posts .post .post-header {
      padding-bottom: 10px; }
      .topic .posts .post .post-header .time {
        float: right; }
        .topic .posts .post .post-header .time a {
          color: #AAAAAA;
          text-decoration: none;
          font-size: 0.9em; }
          .topic .posts .post .post-header .time a:hover {
            text-decoration: underline; }

footer {
  padding: 20px 0; }
  footer a {
    font-weight: normal; }
